<ion-view view-title="&Sigma; Indicator">
	<ion-content>
		<div class="graph-container expenses">
			<svg id="expenses-graph" class="graph expenses"></svg>
		</div>
		<section class="list-container">
			<div class="list-heading">Recent Spends</div>
			<div class="list" data-ng-if="recentSpends.length > 0">
				<div class="list-item" data-ng-repeat="rs in recentSpends">
					<div class="cat-icon txt-center fl fa" data-ng-class="getClassNames(rs.accType, rs.ATM)"></div>
					<div class="list-item-details fl" ng-click="nextBy('app/expenseByDate/{{rs.dateVal}}')">
						<div class="list-item-place-date fl">
							<div class="list-item-date">{{rs.dateTime}}</div>
							<div class="list-item-place">{{rs.merchant}}</div>
						</div>
						<div class="list-item-amount fr"><i class="fa fa-inr"></i> {{rs.expense}}</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<!--<div class="list-item">
					<div class="cat-icon dc txt-center fl fa fa-credit-card"></div>
					<div class="list-item-details fl">
						<div class="list-item-place-date fl">
							<div class="list-item-date">2 days ago, 10:49</div>
							<div class="list-item-place">ICICI Adyar</div>
						</div>
						<div class="list-item-amount fr"><i class="fa fa-inr"></i> 2816.83</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list-item">
					<div class="cat-icon mob txt-center fl fa fa-mobile"></div>
					<div class="list-item-details fl">
						<div class="list-item-place-date fl">
							<div class="list-item-date">5 days ago, 13:01</div>
							<div class="list-item-place">BHARTI AIRTEL LTD</div>
						</div>
						<div class="list-item-amount fr"><i class="fa fa-inr"></i> 232.56</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>-->
			</div>
			<div class="list" data-ng-if="recentSpends.length < 1">
				<data class="lits-item" style="margin:10px;">Oops! Recent spends not found.</data>
			</div>
			<div class="list-heading" data-ng-if="bills.length > 0">Bills</div>
			<div class="list" data-ng-if="bills.length > 0">
				<div class="list-item" data-ng-repeat="bill in bills">
					<div class="cat-icon txt-center fl fa" data-ng-class="getClassNames(bill.accType, false)"></div>
					<div class="list-item-details fl">
						<div class="list-item-bill-due fl">
							<div class="list-item-place">{{bill.accName}} <span data-ng-if="bill.accNo !== ''">{{bill.accNo}}</span></div>
							<div class="list-item-date">Due in {{bill.date}}</div>
						</div>
						<div class="list-item-amount fr"><i class="fa fa-inr"></i> {{bill.amount}}</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="list-heading">Spends by accounts</div>
			<div class="list" data-ng-if="spendsByAccount.length > 0">
				<div class="list-item" data-ng-repeat="sba in spendsByAccount">
					<div class="cat-icon txt-center fl fa no-border-radius" data-ng-class="getClassNames(sba.accType, sba.ATM)"></div>
					<div class="list-item-details fl" ng-click="nextBy('app/expenseByAcc/{{sba.accMask}}')">
						<div class="list-item-place-date fl">
							<div class="list-item-place">{{sba.accName}} <span>{{sba.accNo}}</span></div>
							
							<div class="list-item-date" ng-if="sba.ATM">ATM <span class="count">{{sba.ATMTrans}}</span></div>
						</div>
						<div class="list-item-amount acc fr"><i class="fa fa-inr"></i> {{sba.expenses}}</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<!--<div class="list-item">
					<div class="cat-icon acc txt-center fl fa fa-university no-border-radius"></div>
					<div class="list-item-details fl">
						<div class="list-item-place-date fl">
							<div class="list-item-place">HDFC <span>2514</span></div>
						</div>
						<div class="list-item-amount acc fr"><i class="fa fa-inr"></i> 500.00</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>-->
			</div>
			<div class="list" data-ng-if="spendsByAccount.length < 1">
				<data class="lits-item" style="margin:10px;">Oops! Accounts not found.</data>
			</div>
		</section>
	</ion-content>
</ion-view>