<ion-view view-title="Sigma Indicator">
	<ion-content>


        <div class="card" ng-click="next('app/ratingform')">
          
         <div class="item item-divider list-head1">
           Sigma Indicator 
         </div>
          
         <div class="item item-text-wrap">
              <img src="img/NA1.svg" class="item-recommend-avatar" height="60" /> <b> Undefined </b>
              <div class="card-item" >Complete your sigma profile to get your free sigma incators</div>
          </div>
        
        </div>

        <div class="card" ng-click="next('app/ratingendorse')">
            
            <div class="item item-divider list-head1">
                Recommended Action
             </div>
            
            <div class="item"> 
              <img src="img/endorse.svg" class="fl"  height="40" width="40"/>
             <strong class="item-text-wrap card-item"> Get endorse from your friends.</strong>
            </div>
        </div>

        <div class="card" ng-click="next('app/ratingform')">
          
            <div class="item item-divider list-head1">
                Sigma Credit Profile   
            </div>
          
            <div class="item item-text-wrap">
             <svg height="100" width="70" class="item-recommend-avatar"> 
                 <a transform="translate(30,30)">
                <g><circle fill="red" r="30"></circle></g>
                <g><clippath id="g-clip">
                        <rect height="50" id="g-clip-rect" width="100" x="-50" y="-30">
                        </rect>
                    </clippath>
                    <circle clip-path="url(#g-clip)" fill="#fff" r="27"></circle>
                </g>
                 </a>
              </svg>
              <div class="card-item" >Complete your sigma profile to get your free sigma incators</div>
          </div>
        </div>

            
    </div>
    </ion-content>
</ion-view>r