<ion-view view-title="&Sigma; Indicator">
	<ion-content>

        <div class="card">
            <a class="item item-avatar" href="#" >
                <img src="img/doris.jpg">
                <h2>Doris</h2>
                <p>endorsed you and she knows you for 3 years </p>
            </a>
        </div>
        
        <div class="card" ng-click="nextSigma()">
          
         <div class="item item-divider list-head1 b" >
           &Sigma; Indicator
         </div>
          
          <div class="item item-text-wrap">
              <img src="img/b.svg"  class="item-recommend-avatar" /><p> since 1 month </p>
              <p class="card-item ">You can avail loans from 10,000 - 20,000 at a considerable rate of interest.</p>
          </div>
            
        </div>
        
        <div class="card" ng-click="next('/expensepattern')">
          
            <div class="item item-divider list-head1 bc">
                 &Sigma; Profile   
            </div>
          
            <div class="item item-text-wrap">
             <svg height="70" width="70" class="item-recommend-avatar"> 
                 <a transform="translate(30,30)">
                <g><circle fill="#f60" r="30"></circle></g>
                <g><clippath id="g-clip">
                        <rect height="50" id="g-clip-rect" width="100" x="-50" y="-40">
                        </rect>
                    </clippath>
                    <circle clip-path="url(#g-clip)" fill="#fff" r="27"></circle>
                </g>
                 </a>
              </svg>
              <div class="card-item" >Complete your credit profile by updating your expense pattern.</div>
          </div>
        </div>

        <div class="card">
        <div class="list card">
             <div class="item item-divider list-head1 b">
                 loans offered for "B"
             </div>

            <div class="item" data-ng-repeat="cf in creditOffers" ng-click="showAlert('Thank u','soon our customer care will get in touch with you for loan')">
                <!--i class="icon fa ng-class: loan.icon; card-icon"></i -->
                <div class="item-content">
                    <img src="{{cf.logo}}" class= "logo-item"/>
                    <div class="list-item-place  item-loan-desc fl"> {{cf.desc}} </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        
        </div>

    </ion-content>
</ion-view>