<ion-view view-title="Sigma Indicator">
	<ion-content>

<div class="list">

    <a class="item item-avatar" href="#" ng-click="showAlert('endorse','endorse request send to pietro')">
      <img src="img/pietro.jpg">
      <h2>pietro sella</h2>
      <p>yet to endorse </p>
    </a>
    </a>
    
    
    <a class="item item-avatar" href="#" ng-click="showAlert('endorse','endorse request send to drois')">
      <img src="img/doris.jpg">
      <h2>Doris</h2>
      <p>endorse giada knowing her for 15yrs </p>
    </a>
    
     <a class="item item-avatar" href="#" ng-click="showAlert('endorse','endorse request send to enrico')">
      <img src="img/susta.jpg">
      <h2>Enrico susta</h2>
      <p>endorse doris knowing her for 15yrs </p>
    </a>
    
    <a class="item item-avatar" href="#" ng-click="showAlert('endorse','endorse request send to giada')">
      <img src="img/giada.jpg">
      <h2>Giada</h2>
      <p>endorse paul knowing him for 7yrs </p>
    </a>

    
    <a class="item item-avatar" href="#" ng-click="showAlert('endorse','endorse request send to murali')">
      <img src="img/murali.jpg">
      <h2>Murali</h2>
      <p>endorse sudhakar knowing him for 15yrs </p>
    </a>

    <a class="item item-avatar" href="#" ng-click="showAlert('endorse','endorse request send to sudhakar')">
      <img src="img/su.jpg">
      <h2>Sudhakar</h2>
      <p>endorse essakki knowing him for 8yrs </p>
    </a>

    <a class="item item-avatar" href="#" ng-click="showAlert('endorse','endorse request send to barath')">
      <img src="img/barath.jpg">
      <h2>Bharath</h2>
      <p>yet to endorse</p>
    </a>
      
</div>
        
    </ion-content>
</ion-view>

