<ion-view view-title="My Credit Score">
	<ion-content>
        
        <div class="card" ng-click="next('app/ratingform')">
          
            <div class="item item-divider list-head1">
                Sigma Credit Profile   
            </div>
          
            <div class="item item-text-wrap">
             <svg height="100" width="70" class="item-recommend-avatar"> 
                 <a transform="translate(30,30)">
                <g><circle fill="#f60" r="30"></circle></g>
                <g><clippath id="g-clip">
                        <rect height="50" id="g-clip-rect" width="100" x="-50" y="-40">
                        </rect>
                    </clippath>
                    <circle clip-path="url(#g-clip)" fill="#fff" r="27"></circle>
                </g>
                 </a>
              </svg>
              <div class="card-item" >Update your credit history information, helps us to find more lenders and improve your credit rating</div>
          </div>
        </div>

        
        <div class="card" >
          
         <div class="item item-divider list-head1">
           Score
         </div>
          
          <div class="item-image" ng-init="drawRatingGraph()">
            <svg id="ratingGraph"></svg>
          </div>
            
          <div class="item item-text-wrap">
            Your credit score is between <strong>600</strong> and <strong>800</strong> which is considered <strong>average</strong> by lending institutions.
          </div>
            
          <div class="item">
             <img src="img/consult.svg" class="fl" height="40" width="40"/>
             <strong class="item-text-wrap card-item">Recommendations to improve</strong>
              
          </div>
        </div>
        
        <div class="list card">
         <div class="item item-divider list-head1">
            Loans Offered
         </div>

            <div class="item" data-ng-repeat="cf in creditOffers">
                <img ng-src="{{cf.src}}" class= "loan-item"/>
                <!--i class="icon fa ng-class: loan.icon; card-icon"></i -->
                <div class="item-content">
                    <img src="{{cf.logo}}" class= "logo-item"/>
                    <div class="list-item-place  item-loan-desc fl"> {{cf.desc}} </div>
                    <div class="clear"></div>
                </div>
            </div>

            
        </div>
    </ion-content>
</ion-view>