<ion-view view-title="My Credit Score">
	<ion-content>

        <div class="card">
            <a class="item item-avatar" href="#" >
                <img src="img/doris.jpg">
                <h2>Doris</h2>
                <p>endorsed you and she knows you for 3 years </p>
            </a>
        </div>
        
        <div class="card" ng-click="next('app/recomendations3')">
          
         <div class="item item-divider list-head1">
           Congrats! you have earned star badge. 
         </div>
          
          <div class="item-image">
            <img src="img/star.svg" height="128" width="128"/>
          </div>

         <div class="item item-text-wrap">
            <h2>adjust the budget to reduce your credit usage more... </h2>
          </div>
            
        </div>

        <div class="card" ng-click="next('app/ratingsummary')">
          
         <div class="item item-divider list-head1">
           Cibil Score 
         </div>
          
          <div class="item-image" >
            <img src="img/hour.svg" height="128"/>
          </div>
            
          <div class="item item-text-wrap">
            <h2>Cibil Credit Score requested to CIBIL, rating will be available in next 2 working days.</h2>
          </div>
            
        </div>
        
        <div class="list card">
         <div class="item item-divider list-head1">
            loans offered
         </div>

            <div class="item" data-ng-repeat="cf in creditOffers">
                <img ng-src="{{cf.src}}" class= "loan-item"/>
                <!--i class="icon fa ng-class: loan.icon; card-icon"></i -->
                <div class="item-content">
                    <img src="{{cf.logo}}" class= "logo-item"/>
                    <div class="list-item-place  item-loan-desc fl"> {{cf.desc}} </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>