<ion-view view-title="Rating">
	<ion-content>
        <progress max="100" value="95"> </progress>
        <div class="list-heading"> Confirm Other Credits </div>
        <div class="list" data-ng-if="loans.length > 0">
            <div class="item " data-ng-repeat="loan in loans">
                    <div class="item-content">
                         <div>
                            <div class="fl">
                                <div class="list-item-place">{{loan.lender}}  <span class="list-item-date">  {{loan.tenure}}  </span>  </div>
                            </div>
                            <div class="fr"> 
                                <span>{{loan.osAmount}}</span>
                             </div>
                             <div class="clear"></div>
                        </div>
                    </div>
            </div>
        
            <button class="button button-block button-positive" ng-click="next('app/ratingsummary')" >Score</button>
        </div>
    </ion-content>
</ion-view>