<ion-view view-title="Sigma Indicator">
	<ion-content>
        
        <div class="card" ng-click="next('app/loanpay')">
            
            <div class="item item-divider list-head1">
                Recommended Action
             </div>
            
            <div class="item item-text-wrap"> 
              <b>repay of last loan from icici outstanding 4,000 right away, and improve your sigma score</b>
            </div>
        </div>

        <div class="card">
          

         <div class="item item-divider list-head1">
           Sigma Indicator
         </div>
          
          <div class="item item-text-wrap">
              <img src="img/star.svg"  class="item-recommend-avatar" height="80"  /><b>you are spender, rated "B+"</b><p>  recently 3days </p>
              <div class="card-item">avail loans from 30,000 - 50,000, we able to offer lower rates loans based on your rating </div>
          </div>
            
        </div>


        <div class="card" ng-click="next('app/recomendations3')" >
          

         <div class="item item-divider list-head1">
           Cibil Score
         </div>
          
          <div class="item-image" ng-init="drawRatingGraph()">
            <svg id="ratingGraph"></svg>
          </div>
            
          <div class="item item-text-wrap">
            Your credit score is between <strong>600</strong> and <strong>800</strong> which is considered <strong>average</strong> by lending institutions.
          </div>
            
          <div class="item">
             <img src="img/consult.svg" class="fl" height="40" width="40"/>
             <strong class="item-text-wrap card-item">check our listed tips to reduce EMI</strong>
              
          </div>
        </div>
        

        
        <div class="card">
        <div class="list card">
         <div class="item item-divider list-head1">
            Loans Offered
         </div>

            <div class="item" data-ng-repeat="cf in creditOffers" ng-click="showAlert('Thank u','soon our customer care will get in touch with you for loan')">
                <!--i class="icon fa ng-class: loan.icon; card-icon"></i -->
                <div class="item-content">
                    <img src="{{cf.logo}}" class= "logo-item"/>
                    <div class="list-item-place  item-loan-desc fl"> {{cf.descb1}} </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>