<ion-view view-title="My Credit Score">
	<ion-content>

        <div class="card">
            <a class="item item-avatar" href="#" >
                <img src="img/su.jpg">
                <h2>Sudhakar</h2>
                <p>request for an endrosement </p>
            </a>
        </div>

        
        <div class="card" ng-click="next('app/recomendations2')">
          
         <div class="item item-divider list-head1">
           Welcome! you have earned beginner badge 
         </div>
          
          <div class="item-image ">
            <img src="img/start.svg" class="badge-margin" height="100" />
          </div>

          <div class="item item-text-wrap">
            <h2>Add your exist mortgage or loans, more...</h2>
          </div>
        </div>

        <div class="card" ng-click="next('app/ratingform')">
          
         <div class="item item-divider list-head1">
           Cibil Score 
         </div>
          
          <div class="item-image">
            <img src="img/NA1.svg" height="128"/>
          </div>
            
          <div class="item item-text-wrap" ng-click="next('app/ratingform')">
              <h2>Request for your credit score from cibil and get more recommendation to improve your credit score, estimated 5 minutes to complete</h2>
          </div>
            
        </div>
        
        <div class="list card" ng-click="next('app/recomendations')">
         <div class="item item-divider list-head1">
           loan offered
         </div>
         <div class="item item-text-wrap">
            ICICI, HDFC, .. 2 more banks are ready to give loans, go to recommendations and improve your credit points, to avail them quickly.
        </div>

            
        </div>
    </ion-content>
</ion-view>