<ion-view view-title="Recommendations">
	<ion-content>
<div class="list">
        <div class="item item-text-wrap" ng-click="next('app/rating4')">
            <img src="img/creditage.png" class="item-recommend-avatar" height="50"/>
            <div class="card-item" >Insert or update your credits. Add 10 points towards credit point</div>
        </div>
        <div class="item item-text-wrap">
            <img src="img/budget.svg" class="item-recommend-avatar" height="50"/>
            <div class="card-item" >Set the budget for your monthly expense and improve your credit score by 10 points.</div>
        </div>
        <div class="item item-text-wrap" ng-click="next('app/ratingform')">
            <img src="img/star.svg" class="item-recommend-avatar"  height="50"/>
            <div class="card-item" >Request for cbil credit score, able to give tips to improve your credit score and earn junior badge!  </div>
        </div>
</div>    

    </ion-content>
</ion-view>