<ion-view view-title="Recommendations">
	<ion-content>
<div class="list">
        <div class="item item-text-wrap" ng-click="showAlertAndNext('Assets','Assets are added, your credit profile seems average','app/ratingna3')">
            <img src="img/creditage.png" class="item-recommend-avatar" height="50"/>
            <div class="card-item" >Add 400 points and improve your credit score, by updating your assets </div>
        </div>
        <div class="item item-text-wrap">
            <img src="img/budget.svg" class="item-recommend-avatar" height="50"/>
            <div class="card-item" >Set the budget for your monthly expense and improve your credit score by 100 points.</div>
        </div>
        <div class="item item-text-wrap" ng-click="next('app/ratingform')">
            <img src="img/star.svg" class="item-recommend-avatar"  height="50"/>
            <div class="card-item" >Request for cbil credit score, able to give tips to improve your credit score! </div>
        </div>
</div>    

    </ion-content>
</ion-view>